package ${ACTION_PKG_NAME};

import jcf.hanyang.base.BaseAct;

import java.util.Map;
import ${MODEL_PKG_NAME}.${MODEL_FILE_NAME};

import jcf.data.GridData;
import jcf.hanyang.metadata.ResultData;
import jcf.sua.mvc.MciRequest;
import jcf.sua.mvc.MciResponse;

import ${SERVICE_PKG_NAME}.${SERVICE_FILE_NAME};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

/**
@Title : ${ACTION_FILE_NAME}
@Description : ${METHOD_NAME}
@Copyright : Copyright (c) 2012
@Company : Daewoo Information Systems Co., Ltd.
@Author :
@version 1.0
*/
@Controller
@RequestMapping("/${ACTION_FILE_NAME}")
public class ${ACTION_FILE_NAME} extends BaseAct{
	
	@Autowired
	private ${SERVICE_FILE_NAME} ${SERVICE_FILE_NAME_CAMEL};
	
	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("/find${METHOD_NAME}s")
	public void find${METHOD_NAME}s(MciRequest request, MciResponse response){
		Map<String, Object> paramMap = request.getParam();
		ResultData ${METHOD_NAME_CAMEL}List = ${SERVICE_FILE_NAME_CAMEL}.find${METHOD_NAME}s(paramMap);
		response.set("DS_${MODEL_FILE_NAME}", ${MODEL_FILE_NAME_CAMEL}List);
	}

	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("/save${METHOD_NAME}s")
	public void save${METHOD_NAME}s(MciRequest request, MciResponse response){
		GridData<${MODEL_FILE_NAME}> gridData = request.getGridData("DS_${MODEL_FILE_NAME}", ${MODEL_FILE_NAME}.class);
		${SERVICE_FILE_NAME_CAMEL}.save${METHOD_NAME}s(gridData);
	}
}
