package ${ACTION_PKG_NAME};

import java.util.List;
import java.util.Map;
import java.util.HashMap;

import jcf.data.GridData;
import jcf.sua.mvc.MciRequest;
import jcf.sua.mvc.MciResponse;

import ${SERVICE_PKG_NAME}.${SERVICE_FILE_NAME};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

/**
@Title : ${ACTION_FILE_NAME}
@Description : ${BIZ_NAME}
@Author : ${AUTHOR}
@version 1.0
*/
@Controller
@RequestMapping("/${UC_NAME_CAMEL}")
public class ${ACTION_FILE_NAME} {
	@Autowired
	private ${SERVICE_FILE_NAME} service;

	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("/get${UC_NAME}")
	public void get${UC_NAME}(MciRequest request, MciResponse response){
		Map param = request.getMap("req");
		Map<String, Object> ${UC_NAME_CAMEL} = ${UC_NAME_CAMEL}Service.get${UC_NAME}(param);
		response.set("", ${UC_NAME_CAMEL});
	}
	
	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("/get${UC_NAME}List")
	public void get${UC_NAME}List(MciRequest request, MciResponse response){
		Map param = request.getMap("req");
		List<Map<String, Object>> ${UC_NAME_CAMEL}List = ${UC_NAME_CAMEL}Service.get${UC_NAME}List(param);
		response.setList("${UC_NAME_CAMEL}List", ${UC_NAME_CAMEL}List);
	}

	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("/get${UC_NAME}Count")
	public void get${UC_NAME}Count(MciRequest request, MciResponse response){
		Map param = request.getMap("req");
		int count = ${UC_NAME_CAMEL}Service.get${UC_NAME}Count(param);
		response.set("${UC_NAME_CAMEL}Count", count);
	}

	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("/insert${UC_NAME}")
	public void insert${UC_NAME}(MciRequest request, MciResponse response){
		Map ${UC_NAME_CAMEL} = request.getMap("req");
		${UC_NAME_CAMEL}Service.insert${UC_NAME}(${UC_NAME_CAMEL});
	}

	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("/update${UC_NAME}")
	public void update${UC_NAME}(MciRequest request, MciResponse response){
		Map ${UC_NAME_CAMEL} = request.getMap("req");
		${UC_NAME_CAMEL}Service.update${UC_NAME}(${UC_NAME_CAMEL});
	}

	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("/delete${UC_NAME}")
	public void delete${UC_NAME}(MciRequest request, MciResponse response){
		Map ${UC_NAME_CAMEL} = request.getMap("req");
		${UC_NAME_CAMEL}Service.delete${UC_NAME}(${UC_NAME_CAMEL});
	}

	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("/save${UC_NAME}List")
	public void save${UC_NAME}List(MciRequest request, MciResponse response){
		GridData<HashMap> gridData = request.getGridData("", HashMap.class);
		${UC_NAME_CAMEL}Service.save${UC_NAME}(gridData);
		response.addSuccessMessage("success");
	}
}
