package ${PACKAGE}.controller;

import java.util.List;
import java.util.Map;

import jcf.data.GridData;
import jcf.sua.mvc.MciRequest;
import jcf.sua.mvc.MciResponse;

import ${PACKAGE}.model.${UC_NAME}Model;
import ${PACKAGE}.service.${UC_NAME}Service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

/**
@Title : ${UC_NAME}Controller
@Description :
@Copyright : Copyright (c) 2012
@Company : Daewoo Information Systems Co., Ltd.
@Author :
@version 1.0
*/
@Controller
@RequestMapping("")
public class ${UC_NAME}Controller {
	@Autowired
	private ${UC_NAME}Service ${UC_NAME_CAMEL}Service;

	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("")
	public void get${UC_NAME}(MciRequest request, MciResponse response){
		Map param = request.getMap("req");
		${UC_NAME}Model ${UC_NAME_CAMEL} = ${UC_NAME_CAMEL}Service.get${UC_NAME}(param);
		response.set("", ${UC_NAME_CAMEL});
	}
	
	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("")
	public void get${UC_NAME}List(MciRequest request, MciResponse response){
		Map param = request.getMap("req");
		List list = ${UC_NAME_CAMEL}Service.get${UC_NAME}List(param);
		response.setList("${UC_NAME_CAMEL}List", list);
	}

	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("")
	public void insert${UC_NAME}(MciRequest request, MciResponse response){
		${UC_NAME}Model ${UC_NAME_CAMEL} = request.get("",${UC_NAME}Model.class);
		${UC_NAME_CAMEL}Service.insert${UC_NAME}(${UC_NAME_CAMEL});
	}

	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("")
	public void update${UC_NAME}(MciRequest request, MciResponse response){
		${UC_NAME}Model ${UC_NAME_CAMEL} = request.get("",${UC_NAME}Model.class);
		${UC_NAME_CAMEL}Service.update${UC_NAME}(${UC_NAME_CAMEL});
	}

	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("")
	public void delete${UC_NAME}(MciRequest request, MciResponse response){
		${UC_NAME}Model ${UC_NAME_CAMEL} = request.get("",${UC_NAME}Model.class);
		${UC_NAME_CAMEL}Service.delete${UC_NAME}(${UC_NAME_CAMEL});
	}

	/**
	@Title :
	@Description :
	@Author :
	@exception Exception
	*/
	@RequestMapping("")
	public void save${UC_NAME}List(MciRequest request, MciResponse response){
		GridData<${UC_NAME}Model> gridData = request.getGridData("", ${UC_NAME}Model.class);
		${UC_NAME_CAMEL}Service.save${UC_NAME}(gridData);
		response.addSuccessMessage("success");
	}
}
