package ${GROOVY_PKG_NAME};

#macro( comma )
#foreach( ${column} in ${COLUMNS} )
#if( $velocityCount == 1 )
 ${column.COLUMN_NAME}#if( $velocityHasNext ),#end#if(${column.COLUMN_COMMENTS})	/* ${column.COLUMN_COMMENTS} */#end
#else
 ${column.COLUMN_NAME}#if( $velocityHasNext ),#end#if(${column.COLUMN_COMMENTS})	/* ${column.COLUMN_COMMENTS} */#end
#end
#end
#end

#macro ( where )
#foreach( ${column} in ${COLUMNS} )
#if ( ${column.PK} )
#if( $velocityCount == 1 )
            ${SHARP}dynamic_condition ('group1', ${DOLLOR}{${column.COLUMN_NAME_CAMEL}}, '${column.COLUMN_NAME} = :${column.COLUMN_NAME_CAMEL}')
#else
            ${SHARP}dynamic_condition ('group1', ${DOLLOR}{${column.COLUMN_NAME_CAMEL}}, '${column.COLUMN_NAME} = :${column.COLUMN_NAME_CAMEL}')
#end
#else
#if( $velocityCount == 1 )
            ${SHARP}dynamic_condition ('group1', ${DOLLOR}{${column.COLUMN_NAME_CAMEL}}, '${column.COLUMN_NAME} = :${column.COLUMN_NAME_CAMEL}')
#else
            ${SHARP}dynamic_condition ('group1', ${DOLLOR}{${column.COLUMN_NAME_CAMEL}}, '${column.COLUMN_NAME} = :${column.COLUMN_NAME_CAMEL}')
#end
#end
#end
#end

#macro ( wherePK )
#foreach( ${column} in ${COLUMNS} )
#if ( ${column.PK} )
#if( $velocityCount == 1 )
${column.COLUMN_NAME} = :${column.COLUMN_NAME_CAMEL}
#else
          AND ${column.COLUMN_NAME} = :${column.COLUMN_NAME_CAMEL}
#end
#end
#end
#end

public class ${GROOVY_FILE_NAME}{

	public static String find${METHOD_NAME} = '''
		SELECT
		   #comma()

		FROM ${SCHEMA}.${TABLENAME}
#where()
    '''

	public static String insert${METHOD_NAME} = '''
		INSERT INTO ${SCHEMA}.${TABLENAME}
			(
		         #comma()

		     )
				VALUES
			(
#foreach( ${column} in ${COLUMNS} )
                :${column.COLUMN_NAME_CAMEL}#if( $velocityHasNext ),
#end
#end

            )
	'''

	public static String update${METHOD_NAME} = '''
		UPDATE ${SCHEMA}.${TABLENAME}
		SET
#foreach( ${column} in ${COLUMNS} )
#if (!${column.PK})
         ${column.COLUMN_NAME} = :${column.COLUMN_NAME_CAMEL}
#end
#end
		WHERE #wherePK()
    '''

	public static String delete${METHOD_NAME} = '''
		DELETE FROM ${SCHEMA}.${TABLENAME}
#if ( ${IS_PK_EXIST} == 'N' )
        #where()
#else
        WHERE #wherePK()
#end
    '''
}