package com.symc.${PACKAGE}.model;

${IMPORT_MATH_CLASS}

/**
 * <p> ${TABLE_COMMENT} TDO </p>
 * @author
 * @version 1.0
 */
public class ${UC_NAME}Model {
 #foreach( ${column} in ${COLUMNS} )
    private ${column.COLUMN_DATA_TYPE} ${column.COLUMN_NAME_CAMEL}; /* ${column.COLUMN_COMMENT} */
 #end

 #foreach( ${column} in ${COLUMNS} )
    public ${column.COLUMN_DATA_TYPE} get${column.COLUMN_NAME_PASCAL}() {
       return ${column.COLUMN_NAME_CAMEL};
    }
    public void set${column.COLUMN_NAME_PASCAL}( ${column.COLUMN_DATA_TYPE} ${column.COLUMN_NAME_CAMEL}) {
       this.${column.COLUMN_NAME_CAMEL} = ${column.COLUMN_NAME_CAMEL};
    }
 #end
}