package ${SERVICE_PKG_NAME};

import jcf.hanyang.base.BaseSvc;

import java.util.Map;

import ${MODEL_PKG_NAME}.${MODEL_FILE_NAME};
import ${GROOVY_PKG_NAME}.${GROOVY_FILE_NAME};

import jcf.data.GridData;
import jcf.data.RowStatusCallback;

import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;

/**
@Title : ${SERVICE_FILE_NAME}
@Description : ${METHOD_NAME}
@Copyright : Copyright (c) 2012
@Company : Daewoo Information Systems Co., Ltd.
@Author :
@version 1.0
*/
@Service
public class ${SERVICE_FILE_NAME} implements BaseSvc {

	/**
	@Title :
	@Description :
	@Author :
	*/
	public ResultData find${METHOD_NAME}s(Map paramMap) {
		return dao.queryForResultData(${GROOVY_FILE_NAME}.find${METHOD_NAME}List(), paramMap);
	}

	/**
	@Title :
	@Description :
	@Author :
	*/
	public void save${METHOD_NAME}s(GridData<${MODEL_FILE_NAME}> gridData) {
		gridData.forEachRow(new RowStatusCallback<${MODEL_FILE_NAME}>() {

			public void update(${MODEL_FILE_NAME} record, ${MODEL_FILE_NAME} oldRecord, int rowNum) {
				dao.update(${GROOVY_FILE_NAME}.update${MODEL_FILE_NAME}(), record);
			}

			public void normal(${MODEL_FILE_NAME} record, int rowNum) {
				
			}

			public void insert(${MODEL_FILE_NAME} record, int rowNum) {
				dao.update(${GROOVY_FILE_NAME}.insert${MODEL_FILE_NAME}(), record);
			}

			public void delete(${MODEL_FILE_NAME} record, int rowNum) {
				dao.update(${GROOVY_FILE_NAME}.delete${MODEL_FILE_NAME}(), record);
			}
		});
	}
}
