package ${PACKAGE}.service;

import java.util.List;
import java.util.Map;

import jcf.ux.xframe.mvc.GridData;
import jcf.ux.xframe.mvc.XFrameRequest;
import jcf.ux.xframe.mvc.XFrameResponse;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.web.bind.annotation.RequestMapping;

import com.hnc.spic.sys.context.RequestContext;
import ${PACKAGE}.model.${TABLE_NAME_PASCAL}TDO;
import com.hnc.spic.sys.dao.CommonDao;


/**
 * <p> Service </p>
 * @author 
 * @version 1.0
 */
@Service
public class ${UC_NAME}Service {
	
	private static final Logger logger = LoggerFactory
			.getLogger(${UC_NAME}Service.class);
			
	@Autowired
	private CommonDao dao;

	/**
	 * <p> ${TABLENAME} SEARCH LIST </p>
	 * @return 
	 */
	public List<${TABLE_NAME_PASCAL}TDO> selectList(Map<String, ?> requestMap) {
		return dao.queryForList("${TABLE_NAME_CAMEL}.select001", requestMap);
	}
	
	/**
	 * <p> ${TABLENAME} SEARCH LIST MAP </p>
	 * @return 
	 */
	public List selectListMap(Map<String, ?> requestMap) {
		return dao.queryForList("${TABLE_NAME_CAMEL}.select002", requestMap);
	}
	
	/**
	 * <p> ${TABLENAME} SAVE LIST </p>
	 * @return 
	 */
	public void saveList(GridData<${TABLE_NAME_PASCAL}TDO> gridData) {
		dao.saveGridData("${TABLE_NAME_CAMEL}.*001",gridData);
	}
	
	/**
	 * <p> ${TABLENAME} INSERT </p>
	 * @return 
	 */
	public void insert(${TABLE_NAME_PASCAL}TDO ${TABLE_NAME_CAMEL}TDO) {
		dao.insert("${TABLE_NAME_CAMEL}.insert001",${TABLE_NAME_CAMEL}TDO);
	}
	
	/**
	 * <p> ${TABLENAME} UPDATE </p>
	 * @return 
	 */
	public void update(${TABLE_NAME_PASCAL}TDO ${TABLE_NAME_CAMEL}TDO) {
		dao.update("${TABLE_NAME_CAMEL}.update001",${TABLE_NAME_CAMEL}TDO);
	}
	
	/**
	 * <p> ${TABLENAME} DELETE </p>
	 * @return 
	 */
	public void delete(${TABLE_NAME_PASCAL}TDO ${TABLE_NAME_CAMEL}TDO) {
		dao.delete("${TABLE_NAME_CAMEL}.delete001",${TABLE_NAME_CAMEL}TDO);
	}
}
