package com.symc.${PACKAGE}.service;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import jcf.data.GridData;
import jcf.data.RowStatusCallback;
import com.symc.common.dao.CommonDao;

import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;

/**
@Title : ${UC_NAME}ServiceImpl
@Description :
@Copyright : Copyright (c) 2012
@Company : Daewoo Information Systems Co., Ltd.
@Author :
@version 1.0
*/
@Service
public class ${UC_NAME}ServiceImpl implements ${UC_NAME}Service {

	@Autowired
	private CommonDao commonDao;

	/**
	@Title :
	@Description :
	@Author :
	@Param : Map
	@Return : ${UC_NAME}
	*/
	public Map<String, Object> get${UC_NAME}(Map param) {
		Map<String, Object> ${UC_NAME_CAMEL} = commonDao.queryForMap("${UC_NAME_CAMEL}.get${UC_NAME}List", param);
		return ${UC_NAME_CAMEL};
	}
	
	/**
	@Title :
	@Description :
	@Author :
	@Param : Map
	@Return : List<Map<String, Object>>
	*/
	public List<Map<String, Object>> get${UC_NAME}List(Map param) {
		List<Map<String, Object>> list = commonDao.queryForMapList("${UC_NAME_CAMEL}.get${UC_NAME}List", param);
		return list;
	}

	/**
	@Title :
	@Description :
	@Author :
	@Param : Map
	@Return : int
	*/
	public int get${UC_NAME}Count(Map param) {
		int count = commonDao.queryForInt("${UC_NAME_CAMEL}.get${UC_NAME}Count", param);
		return count;
	}

	/**
	@Title :
	@Description :
	@Author :
	@Param : ${UC_NAME}
	@Return : void
	*/
	public void insert${UC_NAME}(Map ${UC_NAME_CAMEL}) {
		commonDao.update("${UC_NAME}.insert${UC_NAME}", ${UC_NAME_CAMEL});
	}

	/**
	@Title :
	@Description :
	@Author :
	@Param : ${UC_NAME}
	@Return : void
	*/
	public void update${UC_NAME}(Map ${UC_NAME_CAMEL}) {
		commonDao.update("${UC_NAME}.update${UC_NAME}", ${UC_NAME_CAMEL});
	}

	/**
	@Title :
	@Description :
	@Author :
	@Param : ${UC_NAME}
	@Return : void
	*/
	public void delete${UC_NAME}(Map ${UC_NAME_CAMEL}) {
		commonDao.update("${UC_NAME}.delete${UC_NAME}", ${UC_NAME_CAMEL});
	}

	/**
	@Title :
	@Description :
	@Author :
	@Param : GridData
	@Return : void
	*/
	public void save${UC_NAME}(GridData<HashMap> gridData) {
		gridData.forEachRow(new RowStatusCallback<HashMap>() {

			public void update(HashMap record, HashMap oldRecord, int rowNum) {
				update${UC_NAME}(record);
			}

			public void normal(HashMap record, int rowNum) {
				
			}

			public void insert(HashMap record, int rowNum) {
				insert${UC_NAME}(record);
			}

			public void delete(HashMap record, int rowNum) {
				delete${UC_NAME}(record);
			}
		});
	}
}
